/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

body {
    background-color: #FFFFFF;
    color: black;
    font-family: 'Fredoka', sans-serif;
}

h1 {
    color: #E53170;
    font-weight: 900;
    margin: 50px auto;
    font-size: 2.5rem;
}

.contents span {
    color: #60C0ED;
}

img {
    float: left;
    width: 110px;
}

p, h3 {
    margin-bottom: 5px;
}

/* Body */

.container {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}

.paragraph {
    font-size: large;
    margin: -10px;
    margin-bottom: 50px;
}


.cards {
    float: left;
    background-color: #000;
    color: #FFFFFF;
    width: calc(95% / 3);
    height: 112px;
    margin: 10px;
}

.contents {
    float: left;
    text-align: left;
    padding-top: 15px;
    margin-left: 10px;
}

.clear {
    clear: both;
}





